*, ::before, ::after {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

body {
    background-color: #ffffff;
    font-family: 'Ruboto', sans-serif;

}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 50px; */
    padding: 50px;
}

.card {
    width: 25%;
    height: 70%;
    border-radius: 20px;
    padding: 10px;
    padding-top: 60px;
    text-align: center;
    border: 2px solid #e9e9e9;
}


img {
    border: 1px solid #e9e9e9;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.title {
    font-size: 1rem;
    font-weight: 600;
}

.description {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 8px;
    color: #757575;
}

/* 
=================
MEDIA QUERIES
===================
*/
@media(max-width: 768px){
    .main-container {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 80%;
        height: 50%;
    }
}